nav {
    border-bottom: 1px solid #87a5e7f1;
    font-family: 'Balsamiq Sans', cursive;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: #8bc0ecf1;
    text-shadow: 0 0 0.5px rgb(20, 20, 20);
    text-decoration: none;
    padding: 12px 10px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: #64b0e2f1;
    color: whitesmoke;
}