@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Balsamiq+Sans&display=swap');

body {
  font-family: 'Balsamiq Sans', cursive;
  font-style: normal;
  color: #0a1f5ac9;
  line-height: 20px;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}