<div class="container holder" style="margin:100px auto;">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva promoción:</h4>

            <form action="/admin/promociones/agregar" method="post" enctype="multipart/form-data">
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeholder="Título" name="titulo">
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeholder="Descripción" name="descripcion"></textarea>
                </div>
                <div class="mb-3 row">
                    <label>Imagen: <input type="file" name="imagen" id="imagen"/></label>
                </div>
                <button type="submit" class="btn">Guardar</button>
            </form>
            
            {{#if error}}
            <p style="margin-top: 2%;">{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>