<div class="container holder" style="margin-top: 50px;">
    <div class="row">
        <div class="col-7">
            <h1>¡Hola, {{usuario}}! </h1>
        </div>
        <div class="col-5 text-end">
            <a class="btn holder" href="/admin/login/logout">Cerrar
                sesión <i class="fas fa-sign-out-alt"></i> </a>
        </div>
    </div>

    <div class="row">
        <div>
            <h4>Listado de promociones <i class="fa-regular fa-face-smile"></i></h4>
        </div>
        <div>
            <a class="btn" href="/admin/promociones/agregar"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Promoción</th>
                        <th class="text-end">Editar | Eliminar</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each promociones}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td class="text-end">
                            <a class='btn'><i class="fa-regular fa-pen-to-square" aria-hidden="true"></i></a>
                            <a class='btn' href="/admin/promociones/eliminar/{{id}}" ><i class="fa-regular fa-trash-can"></i></a>
                        </td>
                    </tr>

                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>

</div>