.contacto {
    margin: 3%;
}

h6 {
    margin: 4%;
    text-align: justify;
} 

.formulario {
    margin: 4%;
    box-sizing: border-box;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 30%;
    display: flex;
    align-items: center;
}

.formulario p input,
.formulario p textarea {
    width: 60%;
}

.formulario textarea {
    resize: none;
    height: 120px;
}

.formulario p:nth-child(5) {
    align-items: start;
}

.formulario [type="submit"] {
    color: whitesmoke;
    background-color: #64b0e2f1;
    border: #3b4b55f1;
    text-shadow: 0 0 3px rgb(20, 20, 20);
    font-size: 15px;
    padding: 7px;
    width: auto;
    position: relative;
    cursor: pointer;
    left: 55%;
}