.galeria {
    display: inline-flex;
    flex-direction: row;
}

.galeria img {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    border-radius: 15px;
    max-width: 20%;
    padding: 10px;
}