.home {
    margin: 3%;
    gap: 5%;
    align-items: center;
}

h5 {
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
}

.enlace {
   color:  #87a5e7fa;
   text-decoration: none;
   }


.home img {
    max-width: 50%;
    border-radius: 12%;
    margin: 3%;
    display: block;
    margin: auto;
}

.home p {
    margin: 3%;
    line-height: normal;
    text-align: justify;

}