.home {
    margin: 3%;
    display: flex;
    gap: 5%;
    align-items: center;
}


.home img {
    max-width: 40%;
    border-radius: 15px;
    margin: 3%;
}

.home p {
    margin: 3%;
    line-height: normal;
    text-align: justify;

}