.carlos {
    width: 50%;
    box-sizing: border-box;
}

.susana {
    width: 50%;
    box-sizing: border-box;
}

.nosotros {
    margin: 3%;
    display: inline-flex;
    flex-direction: row;
    gap: 5%;
}


.nosotros img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    border-radius: 10%;
    margin: auto;
    margin-top: 3%;
}

.nosotros p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    line-height: 25px;
    text-align: justify;
}