.servicios {
    margin: 3%;
    font-family: 'Balsamiq Sans', cursive;
}

.servicio {
    margin: 15px 0;
    display: flex;
    gap: 25px;
    align-items: center;
}

.servicio img {
    width: 15%;
    height: auto;
}

.servicio:nth-child(even) {
    flex-direction: row-reverse;
}
